<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FIFA_WorldCup.Properties.Settings.FIFA_WCConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Projetos\FIFAWC\FIFA_WC.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
